<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

    <!-- Sidebar Menu -->
    <ul class="sidebar-menu" data-widget="tree">
      <li class="treeview" *ngIf="shared.user?.profile == 'ADMIN'" >
        <a href="#">
          <i class="fa fa-edit"></i> <span>Users</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a [routerLink]="['/user-list']"><i class="fa fa-circle-o"></i> <span>List</span></a></li>
          <li><a [routerLink]="['/user-new']"><i class="fa fa-circle-o"></i> <span>New user</span></a></li>
        </ul>
      </li>
      <li class="treeview" *ngIf="shared.user?.profile != 'ADMIN'">
        <a>
          <i class="fa fa-edit"></i> <span>Ticket</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a [routerLink]="['/ticket-list']"><i class="fa fa-circle-o"></i> <span>List</span></a></li>
          <li *ngIf="shared.user?.profile == 'CUSTOMER'"><a [routerLink]="['/ticket-new']"><i class="fa fa-circle-o"></i> <span>New ticket</span></a></li>
        </ul>
      </li>
      <li class="treeview">
        <a>
          <i class="fa fa-edit"></i> <span>Summary</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li class=""><a [routerLink]="['/summary']"><i class="fa fa-circle-o"></i> <span>To view</span></a></li>
        </ul>
      </li>
    </ul>
    <!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>
