<!-- Main Header -->
<header class="main-header">

  <!-- Logo -->
  <a href="index2.html" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>HD</b></span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>HELP DESK</b></span>
  </a>

  <!-- Header Navbar -->
  <nav class="navbar navbar-static-top" role="navigation">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
      <p style="color: white"> {{ shared.user?.email }} - {{ shared.user?.profile | uppercase }} | <button class="btn btn-link" (click)="signOut()" style="color: white;">Sign out</button></p>
    </div>
  </nav>
</header>
